<%#= form_tag('/nr4/keywords') do |f| %>
<%#= form_for(@keyword) do |f| %>

<!-- REF http://blog.livedoor.jp/itukano/archives/51832260.html -->
<%= form_for(@keyword, :url => "/nr4/keywords") do |f| %>

<%#= form_for(@keyword) :url => {"/nr4/keywords"} do |f| %>
<%#= form_for(@keyword) :url => {:controller => 'nr4::keywords', :action => 'index'} do |f| %>
  <% if @keyword.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@keyword.errors.count, "error") %> prohibited this keyword from being saved:</h2>

      <ul>
      <% @keyword.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  
  <div>
  		<b onclick="show_genre_list();">Genres</b>
  </div>
  <div id="genre_list"></div>
  <br />
  
	<%#= link_to \
					# 'Genres',
					# :controller => 'nr4/keywords',
					# :action => 'show_genre_list',
					# :class => 'link' %>
  <%#= button_to "Genre", {:controller => 'nr4/keywords', :action => 'show_genre_list'}, :method => 'get'%>
  <%#= button_to "Genre", {:controller => 'keywords', :action => 'show_genre_list'}, :method => 'get'%>
  <%#= button_to "Genre", {:url => '/nr4/keywords/show_genre_list'}, :method => 'get'%>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
