<%#= form_tag('/nr4/keywords') do |f| %>
<%#= form_for(@keyword) do |f| %>

<!-- REF http://blog.livedoor.jp/itukano/archives/51832260.html -->
<%= form_for(@keyword, :url => "/nr4/keywords") do |f| %>

<%#= form_for(@keyword) :url => {"/nr4/keywords"} do |f| %>
<%#= form_for(@keyword) :url => {:controller => 'nr4::keywords', :action => 'index'} do |f| %>
  <% if @keyword.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@keyword.errors.count, "error") %> prohibited this keyword from being saved:</h2>

      <ul>
      <% @keyword.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, :class => "focus" %>
    <%#= f.text_field :name, :onmouseover => "this.focus(); this.select();" %>
  </div>
  
  <div class="field">
    <%= f.label :genre_id %><br />
    <%#= f.number_field :genre_id %>
    <% genre_ids = [] %>
    <% @genres.each do |g| %>
    	<% genre_ids.push([g.name, g.id]) %>
    <% end %>
    
    <!-- REF select http://railsdoc.com/references/select -->
    <!-- REF selected http://html.eweb-design.com/0905_slc.html -->
    <%= select :keyword, :genre_id, genre_ids, :selected => genre_ids[0] %>

    <%#= select :keyword, :genre_id, [["Society", 1], ["Overseas", 2]] %>
    
  </div>
  
  <!-- <div class="field" id="category_list" style="background: yellow;"> -->
  <div class="field" id="category_list">
    <%= f.label :category_id %>
    (<span onclick="show_category_list()" style="color: blue;">Refresh</span>)
    <br />
    <% category_ids = [] %>
    <% @categories.each do |c| %>
    	<% category_ids.push([c.name, c.id]) %>
    <% end %>
    <%= select :keyword, :category_id, category_ids %>
    <%#= f.number_field :category_id %>
  </div>

  <!-- <div id="category_list"></div> -->
  <br />
  
	<%#= link_to \
					# 'Genres',
					# :controller => 'nr4/keywords',
					# :action => 'show_genre_list',
					# :class => 'link' %>
  <%#= button_to "Genre", {:controller => 'nr4/keywords', :action => 'show_genre_list'}, :method => 'get'%>
  <%#= button_to "Genre", {:controller => 'keywords', :action => 'show_genre_list'}, :method => 'get'%>
  <%#= button_to "Genre", {:url => '/nr4/keywords/show_genre_list'}, :method => 'get'%>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
