<%#= form_tag('/nr4/keywords') do |f| %>
<%#= form_for(@keyword) do |f| %>

<!-- REF http://blog.livedoor.jp/itukano/archives/51832260.html -->
<%= form_for(@keyword, :url => "/nr4/keywords") do |f| %>

<%#= form_for(@keyword) :url => {"/nr4/keywords"} do |f| %>
<%#= form_for(@keyword) :url => {:controller => 'nr4::keywords', :action => 'index'} do |f| %>
  <% if @keyword.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@keyword.errors.count, "error") %> prohibited this keyword from being saved:</h2>

      <ul>
      <% @keyword.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label :genre_id %><br />
    <%#= f.number_field :genre_id %>
    <% genre_ids = [] %>
    <% @genres.each do |g| %>
    	<% genre_ids.push([g.name, g.id]) %>
    <% end %>
    <%= select :keyword, :genre_id, genre_ids %>
    <%#= select :keyword, :genre_id, [["Society", 1], ["Overseas", 2]] %>
  </div>
  
  <div class="field">
    <%= f.label :category_id %><br />
    <% category_ids = [] %>
    <% @categories.each do |c| %>
    	<% category_ids.push([c.name, c.id]) %>
    <% end %>
    <%= select :keyword, :category_id, category_ids %>
    <%#= f.number_field :category_id %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
