<div>
	<%= form_tag('#', :method => :get) do %>
		<span id="top">
			読み込むページ数
		</span>
		
		<!-- 	REF => http://d.hatena.ne.jp/utadaq/20080506	 -->
		<%= text_field_tag\
						"doc_num",
						@current_num || '',
						:size => '1',
						:style => "text-align: right;" %>


		<span style="background-color: green; color: white">
			ジャンル</span>
<!-- 			<select name="genre_name"> -->
	
			<%= render :partial => 'nr4/articles/articles_index/index_header_genres_list' %>
		
			<%#= "#{@genres.class.to_s} => #{@genres.length}" %>
		</span>

		<%= submit_tag "Go" %>
		
		&nbsp;|&nbsp;
		
		<%= link_to 'Admin', genres_path %>
		
	<% end %> <%#= form_tag('#', :method => :get) do %>
	
</div>