<a name="top">
</a>
	<h1>Histories(<%= @history_size.to_s %>)</h1>

<a href="#bottom">To bottom</a>

<%= will_paginate @histories, :prev_label=>'«Previous', :next_label=>'Next»' %>

<table>
	
	<%= render :partial => 'nr4/histories/index/index_table_header' %>
	
	<%= render :partial => 'nr4/histories/index/index_table_entries' %>

</table>

<%= will_paginate @histories, :prev_label=>'«Previous', :next_label=>'Next»' %>

<br />

<a name="bottom"></a>

<a href="#top">To top</a>


<%#= link_to 'New History', new_history_path %>
