<h1>Listing visuals</h1>

<table>
  <tr>
    <th>Main</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @visuals.each do |visual| %>
  <tr>
    <td><%= visual.main %></td>
    <td><%= link_to 'Show', visual %></td>
    <td><%= link_to 'Edit', edit_visual_path(visual) %></td>
    <td><%= link_to 'Destroy', visual, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Visual', new_visual_path %>
