<%= form_for(@env_nr4) do |f| %><!-- undefined method `nr4_env_nr4s_path' -->
  <% if @env_nr4.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@env_nr4.errors.count, "error") %> prohibited this env_nr4 from being saved:</h2>

      <ul>
      <% @env_nr4.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sort_genre %><br />
    <%= f.number_field :sort_genre %>
  </div>
  <div class="field">
    <%= f.label :sort_category %><br />
    <%= f.number_field :sort_category %>
  </div>
  
  <%= render \
    		:partial => 'nr4/env_nr4s/edit/form_genre',
    		:locals => {:f => f}
    		 %>
  
  <%= render \
    		:partial => 'nr4/env_nr4s/edit/form_category',
    		:locals => {:f => f}
    		 %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
