<%= form_for(@eqm) do |f| %>
  <% if @eqm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@eqm.errors.count, "error") %> prohibited this eqm from being saved:</h2>

      <ul>
      <% @eqm.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :main %><br />
    <%= f.text_field :main %>
  </div>
  <div class="field">
    <%= f.label :sub1 %><br />
    <%= f.text_field :sub1 %>
  </div>
  <div class="field">
    <%= f.label :sub1 %><br />
    <%= f.text_field :sub1 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
