<!DOCTYPE html>
<html>
<head>
  <title>JQM1</title>
  	<meta name="viewport"
           content="width=device-width,
			user-scalable=yes,
			initial-scale=1.0,
                    maximum-scale=3.0" />
                    
  <%= stylesheet_link_tag    "application", :media => "all" %>
  
	<%#= stylesheet_link_tag "http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css" %>
	
	
	<%= javascript_include_tag \
				"http://code.jquery.com/jquery-1.10.2.min.js" %>
	
  <%= javascript_include_tag "application" %>
  
  <%= csrf_meta_tags %>
  

	<%= render :partial => 'natulang/natulangs/index/index_scripts' %>
	
</head>
<body onload="set_image()">

<%= yield %>

	<%= render :partial => 'layouts/natulang/natulang_main/main_footer' %>
	
	<%= render :partial => 'layouts/application_footer' %>

</body>
</html>
