<hr />
<% @categorized_articles_set.keys.each_with_index do |key, i| %>

	<%= link_to key + " (#{@categorized_articles_set[key].size})", "##{key}" %> |

<% end %>


<%# @categorized_articles_set.keys.each_with_index do |a, i| %>
<% @categorized_articles_set.keys.each_with_index do |key, i| %>

	<table>
		<hr />
		<%#= "@categorized_articles_set[#{a}] => #{@categorized_articles_set[a]}" %>
		<div class="category_label">
			<span id="<%= key.dup %>">
				<%= key.dup %> (<%= @categorized_articles_set[key].size %>) |
			</span>
			
			<span>
				<%= link_to "Top", "#top" %>
			</span>
			
			&nbsp;
			
			<span>
				<%= link_to "Bottom", "#bottom" %>
			</span>
		</div>
		
		<% @categorized_articles_set[key].each_with_index do |a, i| %>
			<!-- REF locals http://stackoverflow.com/questions/6279651/rails-3-passing-local-variable-to-partial answered Jun 8 '11 at 15:08-->
				<%= render :partial => \
						'articles/articles_index/index_contents_table',
						:locals => {:i => i, :a => a} %>	
			
		<% end %>
		
		<hr />
		
	</table>

<% end %><!-- @categorized_articles_set.keys -->

<br/>
<br/>

