<p id="notice"><%= notice %></p>
<h1>Listing locations</h1>

<% if @locations != nil and @locations.length > 3 %>

	<a name="top"></a>
	<a href="#bottom">To bottom</a>
	
<% end %>

<table>
  <tr>
    <th>ID</th>
    <th>M</th>
    <th>M created at</th>
    <th>M modified at</th>
    <th>Longitude</th>
    <th>Latitude</th>
    <th>Memo</th>
    <th>M created at NEW</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @locations.each do |location| %>
  <tr>
  	
    <td class="col_id"><%= location.id %></td>
    <td><%= location.m_id %></td>
    <td><%= location.m_created_at %></td>
    <td><%= location.m_modified_at %></td>
    <td><%= location.longitude %></td>
    <td><%= location.latitude %></td>
    <td><%= location.memo %></td>
    <td><%= location.m_created_at_new %></td>
    
    <td><%= link_to 'Show', location %></td>
    <td><%= link_to 'Edit', edit_location_path(location) %></td>
    <td><%= link_to 'Destroy', location, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<% if @locations != nil and @locations.length > 3 %>
	<div>
		
		<a name="bottom"></a>
		<a href="#top">To top</a>
		
	</div>
	
<% end %>

<br />

<div>
	
	<%= render 'location/locations/loc_show/show_map' %>

</div>


<%= link_to 'New Location', new_location_path %>

<hr />

	<%= render 'location/locations/loc_index/index_test_post' %>
	
<hr />

	<%= render 'location/locations/loc_index/index_test_update' %>


<hr />
	<%= render 'location/locations/loc_index/index_delete_all' %>
