<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :store_id %><br />
    <%= f.number_field :store_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label :genre_id %><br />
    <%= f.number_field :genre_id %>
  </div>
  <div class="field">
    <%= f.label :yomi %><br />
    <%= f.text_field :yomi %>
  </div>
  <div class="field">
    <%= f.label :mobile_id %><br />
    <%= f.number_field :mobile_id %>
  </div>
  
  <div class="field">
    <%= f.label :mobile_created_at %><br />
    <%= f.text_field :mobile_created_at %>
  </div>
  
  <div class="field">
    <%= f.label :mobile_updated_at %><br />
    <%= f.text_field :mobile_updated_at %>
  </div>
  
  <div class="field">
    <%= f.label :mobile_posted_at %><br />
    <%= f.text_field :mobile_posted_at %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
