<p id="notice"><%= notice %></p>
<h1>Listing items</h1>

<a name="top"></a>
<a href="#bottom">To bottom</a>

<br />
<div>
	mobile_created_at => <%= @items[0].mobile_created_at %>
</div>
<br />


<table>
	
	<%= render 'sl/items/items_index/index_th'%>
	
	<%= render 'sl/items/items_index/index_td'%>

</table>


<div>
	
	<a name="bottom"></a>
	<a href="#top">To top</a>
	
</div>


<br />

<%= link_to 'New Item', new_item_path %>

<br />
<%= form_tag("/items") do %>
	<div class="field">
		
		Name: <%= text_field :item, :name %><br />
	</div>

	<div class="field">	
		<%= submit_tag "Create" %><br />
	</div>
	
<% end %><%#= form_tag do %>

<%= form_tag("/sl/items/new") do %>
<%#= form_tag("/sl/items/new_data_from_device") do %>
<%#= form_tag("/items/new_data_from_device") do %> <!-- No route matches [POST] "/items/new_data_from_device" -->
	<div class="field">
		
		Name: <%= text_field :item, :name, :name => 'item_name' %><br />
		<!-- Name: <%#= text_field :item, :name %><br /> -->
	</div>

	<%= hidden_field :passwd, :sl, :value => 'abc', :name => 'passwd_sl' %>
	<%#= hidden_field :pass, :sl, :value => 'abc' %>
	<%#= hidden_field :passwd, :sl, :value => 'abc' %>
	<div class="field">	
		<%= submit_tag "Create" %><br />
	</div>
	
<% end %><%#= form_tag do %>

<%= link_to 'Delete all',
			{:action => "delete_all"},
			:confirm  => 'Are you sure?' %> <!-- <a href="/sl/items/delete_all" data-confirm="Are you sure?"> -->
			
<%#= link_to 'Delete all', :action => "delete_all", :confirm  => 'Are you sure?' %> <!-- <a href="/sl/items/delete_all?confirm=Are+you+sure%3F"> -->
<%#= link_to 'Delete all', items_path, confirm: 'Are you sure?', method: :delete_all %>

