<p id="notice"><%= notice %></p>

<p>
  <b>Main:</b>
  <%= @eqm.main %>
</p>

<p>
  <b>Sub1:</b>
  <%= @eqm.sub1 %>
</p>

<p>
  <b>Sub1:</b>
  <%= @eqm.sub1 %>
</p>


<%= link_to 'Edit', edit_eqm_path(@eqm) %> |
<%= link_to 'Back', eqms_path %>
