<%= form_for(@settings_nr4) do |f| %>
  <% if @settings_nr4.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@settings_nr4.errors.count, "error") %> prohibited this settings_nr4 from being saved:</h2>

      <ul>
      <% @settings_nr4.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sort_genre %><br />
    <%= f.number_field :sort_genre %>
  </div>
  <div class="field">
    <%= f.label :sort_category %><br />
    <%= f.number_field :sort_category %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
