<p id="notice"><%= notice %></p>

<p>
  <b>Sort genre:</b>
  <%= @settings_nr4.sort_genre %>
</p>

<p>
  <b>Sort category:</b>
  <%= @settings_nr4.sort_category %>
</p>


<%= link_to 'Edit', edit_settings_nr4_path(@settings_nr4) %> |
<%= link_to 'Back', settings_nr4s_path %>
