<p id="notice"><%= notice %></p>

<p>
  <b>Line:</b>
  <%= @ai_kodaka.line %>
</p>

<p>
  <b>Cut morph:</b>
  <%= @ai_kodaka.cut_morph %>
</p>

<p>
  <b>Page:</b>
  <%= @ai_kodaka.page %>
</p>


<%= link_to 'Edit', edit_ai_kodaka_path(@ai_kodaka) %> |
<%= link_to 'Back', ai_kodakas_path %>
