<h1>Listing env_nr4s</h1>

<table>
<% @env_nr4s.each do |env_nr4| %>

	<% i = 1 %>
	
  <tr>
    <td><%= "#{i}" %></td>
    <% i += 1 %>
    
    <td>Sort genre</td>
    <td><%= env_nr4.sort_genre %></td>
	</tr>
	
	<tr>
	    <td><%= "#{i}" %></td>
	    <% i += 1 %>
	    <td>Sort category</td>
	    <td><%= env_nr4.sort_category %></td>
	</tr>
	
	<tr>
	    <td><%= "#{i}" %></td>
	    <% i += 1 %>
    	<td>Genre</td>
	    	<%= render \
	    		:partial => 'nr4/env_nr4s/env_nr4s_index/index_td_genre',
	    		:locals => {:env_nr4 => env_nr4} %>
    </tr>
    
    <tr>
	    <td><%= "#{i}" %></td>
	    <% i += 1 %>
    	<td>Category</td>
	    <%= render \
	    		:partial => 'nr4/env_nr4s/env_nr4s_index/index_td_category',
	    		:locals => {:env_nr4 => env_nr4} %>
    </tr>
    
    <tr>
	    <td><%= "#{i}" %></td>
	    <% i += 1 %>
	    <td>Pagination size::History</td>
	    <td><%= env_nr4.history_pagination_size %></td>
	</tr>
	
	<tr>
		<td></td>
	    <td colspan="2"><%= link_to 'Show', env_nr4 %></td>
	</tr>	    
	
	<tr>
		<td></td>
	    <td colspan="2"><%= link_to 'Edit', edit_env_nr4_path(env_nr4) %></td>
	</tr>	    
	<tr>
		<td></td>
	    <td colspan="2"><%= link_to 'Destroy', env_nr4, confirm: 'Are you sure?', method: :delete %></td>
	</tr>	    
    
<% end %>
</table>

<br />

<input 
		type="button"
		value="Backup DB"
		id="backup_button"
		onclick="backup_db();" >
		
<div id="backup_result">Backup result</div>

<%#= button_to \
			"Backup DB",
			{:controller => 'env_nr4s',:action => 'backup_db'},
			:method => 'get' %>
<%#= button_to "Backup DB", :action => 'backup_db', [:method => 'get']%><!--  syntax error, unexpected ')', expecting tASSOC -->
<%#= button_to "Backup DB", :action => 'backup_db', {:method => 'get'}%><!-- form action="/nr4/env_nr4s/backup_db?method=get" class="button_to" method="post" -->


<% unless @env_nr4s.size > 0 %>
	<%= link_to 'New Env nr4', new_env_nr4_path %>
<% end %>

