<p id="notice"><%= notice %></p>

<table>

		<% i = 1 %>
		<tr>
		  <td><%= i %></td>
		  <% i += 1 %>
		  <td>Sort genre</td>
		  <td><%= @env_nr4.sort_genre %></td>
		</tr>
		
		<tr>
		  <td><%= i %></td>
		  <% i += 1 %>
		  <td>Sort category</td>
		  <td><%= @env_nr4.sort_category %></td>
		</tr>
		
		<tr>
		  <td><%= i %></td>
		  <% i += 1 %>
		  <td>Genre</td>
		  <% if @genre != nil %>
		  
		  	<td><%= "#{@genre.name}(#{@env_nr4.genre_id})" %></td>
		  	
		  <% else %>
		  
		  	<td><%= "Unknown ID(#{@env_nr4.genre_id})" %></td>
		  	
		  <% end %>
		</tr>
		
		<tr>
		  <td><%= i %></td>
		  <% i += 1 %>
		  <td>Category</td>
		  <% if @category != nil %>
		  
		  	<td><%= "#{@category.name}(#{@env_nr4.category_id})" %></td>
		  	
		  <% else %>
		  
		  	<td><%= "Unknown ID(#{@env_nr4.category_id})" %></td>
		  	
		  <% end %>
		  
		</tr>
		
		<tr>
		  <td><%= i %></td>
		  <td>Pagination size (History)</td>
		  <td><%= @env_nr4.history_pagination_size %></td>
		  
		</tr>
</table>


<%= link_to 'Edit', edit_env_nr4_path(@env_nr4) %> |
<%= link_to 'Back', env_nr4s_path %>
